<div class="episodes-list max-w-full mx-auto px-4">
  <ul class="mt-12">
  @for (ep of episodes; track ep) {
    @if (ep != undefined) {
    <li class="flex flex-row mb-5">
      <div class="gap-3 transition duration-500 shadow ease-in-out transform
        hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer
        rounded-md flex flex-1 items-center p-4 grid grid-cols-6 gap-4">
        <img class="max-h-48 flex-none rounded-full mx-auto" src="{{
          ep!.imageUrl }}" />
        <div class="col-span-4">
          <h5 class="block text-sm font-semibold text-lg">{{
            ep!.title
            }}</h5>
          <span class="text-sm overfollow-hidden line-clamp-6
            text-ellipsis"
            [innerHTML]="ep!.description">
          </span>
        </div>
        <play-episode-button [episode]="ep!"></play-episode-button>
      </div>
    </li>
    }
  }
  </ul>
</div>
