<section id="continue-listening" class="flex w-full flex-col mb-10">
  <div class="heading">
    <h3 class="text-3xl">Continue Listening</h3>
  </div>
  <div class="carousel carousel-center no-bg max-w-full space-x-4">
    @for (hist of localUser!.playbackHistory; track hist) {
      <div class="carousel-item max-w-70">
        <div class="card bg-base-100 shadow-sm">
          <img src="{{ hist.episodeInfo!.imageUrl }}"
            class="rounded-lg" alt="{{ hist.episodeInfo!.title }}" />
          <div class="card-body">
            <h2 class="card-title line-clamp-2 ellisis">{{ hist.episodeInfo!.title
            }}</h2>
            <div class="card-actions justify-end">
              <play-episode-button
                [episode]="hist.episodeInfo!">
              </play-episode-button>
            </div>
          </div>
        </div>
     </div>
    }
  </div>
</section>

<!-- See What's New -->
<section id="see-what-new" class="flex w-full flex-col mb-10">
  <div class="heading">
    <h3 class="text-3xl">See What's New</h3>
  </div>
  <div class="carousel carousel-center no-bg max-w-full space-x-4">
    @for (episode of latestEpisodes; track episode) {
      <div class="carousel-item max-w-70">
        <div class="card bg-base-100 shadow-sm">
          <img src="{{ episode.imageUrl }}" class="rounded-lg" alt="{{ episode.title }}" />
          <div class="card-body">
            <h2 class="card-title line-clamp-2 ellisis">{{ episode.title
            }}</h2>
            <div class="card-actions justify-end">
              <play-episode-button
                [episode]="episode">
              </play-episode-button>
            </div>
          </div>
        </div>
     </div>
    }
  </div>
</section>

<!-- Caterogies -->
<section id="categories" class="flex w-full flex-col mb-10">
  <div class="heading">
    <h3 class="text-3xl">Poppular Categories</h3>
  </div>
  <div class="flex flex-row flex-full gap-4">
    <a routerLink="/category/science" class="card bg-success text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--brain] text-4xl"></span>
        <h2 class="card-title text-xl">
          Science
        </h2>
      </div>
    </a>
    <a routerLink="/category/news" class="card bg-info text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--news] text-4xl"></span>
        <h2 class="card-title text-xl">
          News
        </h2>
      </div>
    </a>
    <a routerLink="/category/business" class="card bg-warning text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--chart-histogram] text-4xl"></span>
        <h2 class="card-title text-xl">
          Business
        </h2>
      </div>
    </a>
    <a routerLink="/category/health" class="card bg-error text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--heart] text-4xl"></span>
        <h2 class="card-title text-xl">
          Health
        </h2>
      </div>
    </a>
    <a routerLink="/category/education" class="card bg-secondary text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--book-2] text-4xl"></span>
        <h2 class="card-title text-xl">
          Education
        </h2>
      </div>
    </a>
    <a routerLink="/category/culture" class="card bg-primary text-neutral-content w-full h-48">
      <div class="card-body items-center text-center justify-center-safe">
        <span class="icon-[tabler--building-pavilion] text-4xl"></span>
        <h2 class="card-title text-xl">
          Culture
        </h2>
      </div>
    </a>
  </div>
</section>

<!-- Trending -->
<section id="trending" class="flex w-full flex-col">
  <div class="heading">
    <h3 class="text-3xl">Trending</h3>
  </div>
  <div class="carousel carousel-center no-bg max-w-full space-x-4">
    @for (podcast of trending; track podcast) {
      <div class="carousel-item">
        <a routerLink="/podcast/{{ podcast.id }}">
          <img src="{{ podcast.imageUrl }}" class="max-h-60 rounded-lg" alt="{{ podcast.title }}" />
        </a>
     </div>
    }
  </div>
</section>
