<div class="podcasts-list max-w-full mx-auto px-4">
  <ul role="list" class="mt-12">
  @for (podcast of podcasts; track podcast) {
      <li class="flex justify-between items-start mb-5">
        <a routerLink="/podcast/{{ podcast.id }}">
          <div class="gap-3 transition duration-500 shadow ease-in-out transform hover:-translate-y-1 hover:shadow-lg select-none cursor-pointer rounded-md flex flex-1 items-center p-4">
            <img class="max-h-64 flex-none rounded-full mx-auto"
              src="{{ podcast.imageUrl }}" />
            <div>
              <h6 class="block font-semibold">{{ podcast.title }}</h6>
              <span class="text-sm overflow-hidden line-clamp-6
              text-ellipsis">{{ podcast.description }}</span>
            </div>
            <subscribe-podcast-button
              [podcast]="podcast">
            </subscribe-podcast-button>
          </div>
        </a>
      </li>
  }
  </ul>
</div>
