<div class="search-box">
  <form class="flex flex-col justify-center w-3/4 max-w-sm space-y-3 md:flex-row md:w-full md:space-x-3 md:space-y-0">
    <div class=" relative ">
      <input type="text" #query class="rounded-lg border-transparent flex-1
        appearance-none border border-gray-300 w-full py-2 px-4 bg-white
        text-gray-700 placeholder-gray-400 shadow-sm text-base
        focus:outline-none focus:ring-2 focus:ring-purple-600
        focus:border-transparent" placeholder="Search podcast..."/>
    </div>
    <button class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white
      bg-purple-600 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none
      focus:ring-2 focus:ring-purple-500 focus:ring-offset-2
      focus:ring-offset-purple-200" (click)="searchPodcastByTerm(query.value)">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
