<div class="search-box">
  <div class="join w-96 py-3">
    <div class="input-group join-item">
      <span class="input-group-text">
        <span class="icon-[tabler--brand-google-podcasts] text-base-content/80 size-5"></span>
      </span>
      <input type="text" #query class="input grow" placeholder="Search podcast..." id="groupInput" />
    </div>
    <button class="btn btn-primary waves waves-light join-item h-auto"
      (click)="onSearchButtonClicked(query.value)">Search</button>
  </div>
</div>
