<div class="media-footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      {{ slider.value | episodeTimeFormat }}
      <mat-slider class="time-slider"
        min="0"
        [max]="state.duration"
        step="1"
      >
        <input matSliderThumb [(ngModel)]="state.currentTime"
          (dragEnd)="seekTo(slider.value)" #slider>
      </mat-slider>
      {{ state.duration | episodeTimeFormat }}
    </mat-toolbar-row>
    <mat-toolbar-row class="media-action-bar">
      <button mat-button (click)="seek(-10)">
        <mat-icon mat-list-icon>replay_10</mat-icon>
      </button>
      @if (!state.playing) {
        <button mat-button (click)="play()">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
      }
      @else {
        <button mat-button (click)="pause()">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
      }
      <button  mat-button (click)="seek(30)">
        <mat-icon mat-list-icon>forward_30</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
