<div class="media-footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      {{ state.currentTime | episodeTimeFormat }}
      <mat-slider class="time-slider"
        min="0"
        max="state?.duration"
        step="1" value="state?.currentTime"
      >
      </mat-slider>
      {{ state.duration | episodeTimeFormat }}
    </mat-toolbar-row>
    <mat-toolbar-row class="media-action-bar">
      <!-- <button mat-button [disabled]="isFirstPlaying()" (click)="previous()"> -->
      <!--   <mat-icon mat-list-icon>skip_previous</mat-icon> -->
      <!-- </button> -->
      @if (!state.playing) {
        <button mat-button (click)="play()">
          <mat-icon mat-list-icon>play_circle_filled</mat-icon>
        </button>
      }
      @else {
        <button mat-button (click)="pause()">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>
      }
      <!-- <button  mat-button [disabled]="isLastPlaying()" (click)="next()"> -->
      <!--   <mat-icon mat-list-icon>skip_next</mat-icon> -->
      <!-- </button> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>
